.header{
width: 97%;
}

.nav1{
    display: flex;
    justify-content: space-between;
    /* background-image: url("../../../assets/fresh_market_bg.jfif");
    background-position: bottom;
    background-position-y: 100%;
    background-position-x: right; */
    height: 9vh;
    
    
    background-repeat: no-repeat;
    /* background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)); */
    
}

.nav1 .logo{
    width: 20%;
    margin: 0 0 0 0;
   
}

.nav1 .search{
    margin: 2% 0;
    font-size: 3em;
    position: relative;
    
}
.nav1 .search input{
    width: 20vw;
    height: 2.5vh;
    
}
.nav1 .search button{
    border: 2px solid rgba(0, 128, 0, 0.306);
    position: absolute;
    top: 45%;
}
.nav1 .curr-lang-cart{
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    

}
.nav1 .curr-lang-cart .curr-lang{
    display: flex;
    justify-content: space-between;
    width: 10vw;
    
}
.nav1 .curr select{
    width: 3vw;
    height: 3vh;
    font-size: 2em;
}
.nav1 .lang select{
    width: 6vw;
    height: 3vh;
    font-size: 1.8em;
}
.nav1 .cart button{
    width: 10vw;
    height: 3vh;
    font-size: 1.8em;
}
.nav2{
    height: 3.7vh;
    background-color: #8bc731;
    border: 5px solid #7fb328;
}
.nav2 ul{
    width: 60vw;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0em;
    justify-content: space-between;
    margin-left: 0;
}
.nav2 ul li a{
    text-align: center;
    padding: 0.3em;
    padding: 1;
    font-size: 2.2em;
    color: #d3fe9b;
}
.nav3{
    display: flex;
    font-size: 1.9em;
    text-align: center;
    color: #666669;
    justify-content: space-between;
    border: 2PX SOLID lightgray;
    box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.226);
}
.nav3 .left-nav ul,
.nav3 .right-nav ul{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    
}

.nav3  .left-nav ul li a{
    padding: 0.5em;
    text-align: center;
    color: #666669;
} 
.username{
    color: #666669;
    font-weight: 700;
}
.nav3  .right-nav ul li a{
    padding: 0.5em;
    color: #666669;
    text-align: center;
    margin-left: 0.5em;
    margin-right: 0.5em;
    position: relative;
    
    
}

.nav3  .left-nav ul li a img, 
.nav3  .right-nav ul li a img{
    position: absolute;
    transform: translate(-110%,0%);
    
    
}

.logout{
    cursor : pointer;
}
.active{
    background-color: #6666692f;
    
    /* box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.322); */
    
}
.active2{
    background: #8bc73132;
    background-size: 50%;
}
