.highlights{
    width: 100%;
    margin-top: 0.7%;
    display: flex;

    height: 50vh;
    box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.582);
}
.main-highlights{
    width: 70%;
    height: 100%; 

    overflow: hidden;
    box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.582);
    position: relative;
/* justify-content: center; */
}


.main-highlights .images{
    display: flex;
    flex-direction: row;
    width: 500%;
    height: 99%;
    animation: slide 0s 0;
    
    
}
@keyframes slide {
    0%{
        margin-left: 0%;
        /* transform: translateX(0%); */
    }
    25%{
        /* transform: translateX(0%); */
        margin-left: 0%;
    }
    50%{
        /* transform: translateX(-100%); */
        margin-left: -100%;
    }
    75%{
        /* transform: translateX(-200%); */
        margin-left: -200%;
        transition-duration: 1ms;
    }
    100%{
        
        /* transform: translateX(0%); */
        margin-left:0%;
    }
}
.main-highlights .image{
    width: 20% ;
    transition: 1s;
    
    
}
 .image img{
    width:100%;
    height: 100%;
}
.main-highlights .bars{
    position: absolute;
    display: flex;
    
    right: 5%;
    bottom: 0;
}
.main-highlights .bar{
     
    margin: 3px;
    width: 1px;
    padding: 2px;
    border-radius: 200em;
    
    border: 3px solid rgba(48, 47, 47, 0.89) ;
    ;
    cursor: pointer;
    
    transition: 1s;
}

.bar:hover{
    z-index: 10;
    background-color: #9ae70a;
}
input[name = r]{
    /* position: absolute; */
    display: none;
}

#r1:checked ~ .s1{
    margin-left: 0;
}
#r2:checked ~ .s1{
    margin-left: -20%;
}
#r3:checked ~ .s1{
    margin-left: -40%;
}

.auto{
    display: flex;
    position: absolute;
    right: 5%;
    bottom: 0;
    
    justify-content: center;
    margin-top: 1%;
    
}
.auto div{
    margin: 3px;
    width: 1px;
    padding: 2px;
    border-radius: 200em;
    
    border: 3px solid rgba(48, 47, 47, 0.89) ;
    transition: 1s;
}

.auto div{
    margin-right: 3px;
    
}
#r1:checked ~ .auto .auto1{
    margin-left: 0;
}
#r2:checked ~ .auto .auto2{
    margin-left: 0;
}
#r3:checked ~ .auto .auto3{
    margin-left: 0;
}
.side-highlights{
width: 30%;
    
display: flex;


margin-left: 0.5%;
box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.582);
}
.i-side-1,
.i-side-2{
    width: 26vw;
    height: 47%;
    box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.582);
    padding: 1%;
}