<div class="cart">
    <div class="products-area">
        <div class="heading">Your Items :</div>
        <div class="products" *ngFor="let product of productsCart">
            <div class="image"><img src="../../assets/images/{{product.filename}}" alt=""></div>
            <div class="product-details">
            <div class="title">{{product.title}}</div>
            <div class="type">{{product.type}}</div>
            
            <div class="price">  &#x20B9;  {{product.price}}</div>
            
            <div class="button-area">
            <div class="button-minus"><button> - </button></div>
            <div class="count-input"><input type="" value={{countValue}} ></div>
            <div class="button-add"><button> + </button></div>
            </div>
            <div class="remove"><button>Remove</button></div>
            </div>
        </div>
        <div class="place-order"><button>Place Order</button></div>
    </div>
    <div class="price-area">
        <div class="heading">Price Details :</div>
        <div class="price-calculated">Price ({{productsCart.length}} items) :
            <div class="actual-price">  &#x20B9; 100 </div>
         </div>
        <div class="discount">Discount :   
            <div class="actual-price">  &#x20B9; 40</div>
        </div>
        <div class="delivery-charges">Delivery charges :  
            <div class="actual-price">  &#x20B9; 7</div>    
        </div>
        <div class="total-amount">Total Amount :  
            <div class="actual-price">  &#x20B9; 147 </div>    
        </div>
        <div class="place-order"><button>Place Order</button></div>
    </div>
</div>
