
.main-area{
    display: flex;
    margin-top: 1%;
    
}
app-sidebar{
    padding-left: 0.5%;
    width: 17%;
    border-left: 2px solid rgba(128, 128, 128, 0.363);
    /* box-shadow: 2px 2px 2px grey; */
    margin-right: 4px;
}
app-carousel{
    width: 90%;
    border: 2px solid green;
}