<div class="main-area">
    <app-sidebar></app-sidebar>
<div class="carousel">
    <div class="heading">
        <ng-content></ng-content>
        <button class="prev" type="submit" appPrevFeatured><img src="../../assets/left_arrow.jpg" alt="" width="14px" height="10px"></button>
        <button class="next" type="submit" appNextFeatured><img src="../../assets/right_arrow.jpg" alt="" width="14px" height="10px"></button>
    </div>
    <div class="product-carousel">
        
        <div *ngFor="let product of products() | searchBar:typeSearch | productFilter:filterSideBarValue;index as i" class="product" >
            <a routerLink="product" (click)="Onclickproduct(product,i)">
                <div class="image">
                    <!-- <div>New</div> -->
                    <img src="../../assets/images/{{product.filename}}" alt="product image" >
                </div>
            </a>
                <div class="details">
                    <a routerLink="product" (click)="Onclickproduct(product,i)">
                        <div class="name">{{product.title | shorten:18}}</div>
                    </a>
                    <div class="price">&#x20B9; {{product.price}}</div>
                    <div class="rating">{{product.rating}} &#9733;</div>
                    <div  class="add-to-cart" (click)="onClickAddCart(1,product)"><button >Add To Cart</button></div>
                </div>
            
        </div>
    </div>
</div>


</div>