<div class="sidebar">
    <div class="categories heading">
        CATEGORIES
    </div>
    <div class="sidebar-filter">
        <div class="category">Category 1</div>
        <div class="category">Category 2</div>
        <div class="category">Category 3</div>
        <div class="category">Category 4</div>
        <div class="category">Category 5</div>
        <div class="category">Category 6</div>
    </div>
    <div class="image">
        <img src="../../../assets/sidebar_back.jpg" alt="" width="99%" height="200%">
    </div>
    <div class="newsletter heading">
        NEWSLETTER
    </div>
    <div class="notification">
        <input type="email" placeholder="Your Email Address" size="14%">
        <button type="submit"><a href=""><img src="../../../assets/right_arrow.jpg" alt="" width="14px" height="10px"></a></button>
    </div>
</div>
