<div class="sidebar">
    <div class="categories heading">
        CATEGORIES
    </div>
    <div class="sidebar-filter">

        <ng-container *ngFor="let div of sideBar">
            <div class="category">{{div.category}}
                <input *ngIf="div.input" type="checkbox" value= {{div.value}} (change)="onChange()" [(ngModel)] = "div.type">
                <ng-container *ngIf = "!div.input">
                    <div *ngIf="div.var" class="down"  (click)="OnClickSide(div.varType)" style="display: inline;">
                        <img src="../../../assets/down_arrow.jpg" alt="" width="14px" height="12px">
                    </div>
                    <div *ngIf="!div.var" class="up" (click)="OnClickSide(div.varType)" style="display: inline;">
                        <img src="../../../assets/up_arrow.jpg" alt="" width="14px" height="12px">
                    </div>
                </ng-container>
            </div>
            <ng-container *ngIf="!div.var">
                <div  *ngFor="let subCategory of div.sub" class="sub-category category">{{subCategory.category}}
                    <input type="checkbox" value= {{subCategory.value}} (change)="onChange()" [(ngModel)] = "subCategory.type">
                </div>
            </ng-container>

        </ng-container>

    <div class="image">
        <img src="../../../assets/sidebar_back.jpg" alt="" width="99%" height="200%">
    </div>
    <div class="newsletter heading">
        NEWSLETTER
    </div>
    <div class="notification">
        <input type="email" placeholder="Your Email Address" size="25%">
        <button type="submit"><a href=""><img src="../../../assets/right_arrow.jpg" alt="" width="14px" height="10px"></a></button>
    </div>
</div>
