<div class="product">
    <div class="left">
        <div class="image">
            <img src="../../assets/images/{{product.filename}}" alt="" >
        </div>
    </div>
    <div class="right">
        <div class="heading-2">{{product.type}}</div>
        <div class="heading-1">{{product.title}}</div>
        <div class="heading-2">&#x20B9; {{product.price}}</div>
        <div class="rating heading-2">{{product.rating}} &#9733;</div>
        <input type="number" >
        <button class="add-to-cart">ADD TO CART</button>
        <button class="save">SAVE</button>
        <div class="description">Delivery Standard: Today 9:00AM - 11:00AM</div>
        <div class="heading-2">Pack Sizes</div>
        <div class="pack-size heading-1">
            1 kg 
            <div class="price heading-2">&#x20B9; {{product.price}}</div>
            <div class="check"><img src="../../assets/check.png" alt=""></div>
        </div>
        <div class="pack-size heading-1">
            2 kg 
            <div class="price">&#x20B9; {{product.price * 2}}</div>
            <div class="check"><img src="../../assets/check.png" alt=""></div>
        </div>
    </div>
</div>
<div class="product-description">
    <div class="title">{{product.title}}</div>
    <div class="description">{{product.description}}</div>
    <div class="policy">
        <div class="title">Variable Weight Policy</div>
        <div class="description">Please note that the item(s) in this product may vary slightly in size and weight. Hence, the actual weight of the product delivered can have a small variance. You will be billed based on the actual weight during order processing.</div>
    </div>
    <div class="rating-reviews"></div>
    <div class="frequently-bought-carousel">
        <div class="tile">Frequently Bought Together</div>
    </div>
    <div class="similar-products-carousel">
        <div class="title">Similar Products</div>
    </div>
</div>

